.tab-container {
  display: flex;
  align-items: center;
  margin-top: 20px;
  justify-content: space-between;
}

.tab-item-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.text-light {
  color: rgb(189, 180, 180);
  font-weight: bold;
}

.text-dark {
  color: black;
  font-weight: bold;
}

.tab-icon-container {
  width: 5%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.tab-icon {
  font-size: 20px;
}

.tab-normal {
  width: 60px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  background-color: transparent;
  border-bottom: 2px solid rgb(189, 180, 180);
}

.tab-red {
  width: 30px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  background-color: transparent;
  border-bottom: 4px solid red;
}

.button {
  min-width: 60px;
}
